* {
    box-sizing: border-box;
    background-color: gray;
}

#box {
    height: 100px;
    width: 100px;
    background-color: darkcyan;
}

#box2 {
    height: 100px;
    width: 100px;
    background-color: darkorchid;
}

#box3 {
    height: 100px;
    width: 100px;
    background-color: red;
}

#box4 {
    background-color: black !important;
    padding: auto !important;
    margin: auto !important;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}