* {
    box-sizing: border-box;
    background-color: whitesmoke;
}

#box {
    height: 100px;
    width: 100px;
    background-color: darkcyan;
}

#box2 {
    height: 100px;
    width: 100px;
    background-color: darkorchid;
}

#box3 {
    height: 100px;
    width: 100px;
    background-color: red;
}

#box4 {
    padding: auto !important;
    margin: auto !important;
    height: 400px;
    width: 400px;
    background-color: rgb(27, 26, 26);
}