* {
    padding: 0%;
    margin: 0%;
    background-color: rgb(173, 228, 237);
}

.clouds {
    display: flex;
    justify-content: space-around;
}

.plane {
    position: absolute;
    left: 900px;
}